name: update pubs.json
run-name: ${{ github.actor }} is running auto_extract_rf_data.py

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v6.0.1

      - name: Setup Python Version
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.12 

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip requests pyyaml openpyxl plotly pandas

      - name: Execute Publication Update Script
        run: |
          cd data_miner
          python auto_extract_rf_data.py
          python visualise_rf_stats.py

      - name: Send PR
        id: pr_id
        uses: peter-evans/create-pull-request@v8.1.0
        with:
          commit-message: Update pubs.json and stats.json
          branch: pubs-update
          title: "Update pubs.json and stats.json"
          body: |
            Update pubs.json
            Update stats.json
            - Update the pubs.json
            - Auto-generated by [create-pull-request]
          base: main
          signoff: false
          draft: false

      - name: Auto merge PR
        run: gh pr merge --merge --delete-branch --auto "${{ steps.pr_id.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
